.footer {
    &__subscribe {
        margin-top: 91px;
        display: flex;
        flex-direction: row;
    }
    &__subscribe button {
        width: 980px;
        height: 44px;
    /* Main green */
        background: linear-gradient(102.12deg, #63D737 7.53%, #058048 98.25%);
        border-radius: 99.1525px;
    }
    &__payments {
        margin-top: 92px;
        margin-bottom: 56px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.button-reg span {
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 17.1864px;
    line-height: 100%;
    color: #FFFFFF;
}
.custom-field input{
    width: 799px;
    height: 40px;
    border-radius: 84.7925px;
    margin-left: -66px;
    margin-top: -3.5px;

    font-style: normal;
    font-weight: 600;
    font-size: 17.1864px;
    line-height: 100%;
    text-indent: 24px;
    color: #000;
}